body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}
nav {
  position: fixed;
  bottom:0;
  width:100%;
  display: flex;
    justify-content: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
  background-color:white;
}
.user-list{
margin-top:2%;
display:grid;
grid-template-columns:1fr 1fr;
row-gap:5%;
column-gap:3%
}

.each-user{
padding-left:2%;
border: 1px solid red;
border-radius: 10px;
max-width:100%;
}